name: Master Pipeline

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Make Docker image name available for following steps
        id: tagged_image
        run: |
          echo "TAGGED_IMAGE=${{ secrets.DOCKERHUB_REPO_OWNER }}/loancalculator:$(git log -1 --pretty=%h)" >> ${GITHUB_ENV}


      - name: Declare Merkely Pipeline
        env:
          MERKELY_API_TOKEN: ${{ secrets.MERKELY_API_TOKEN }}
        run: |
          make merkely_declare_pipeline


      - name: Build and Publish Docker Image
        env:
          DOCKERHUB_DEPLOY_TOKEN: ${{ secrets.DOCKERHUB_DEPLOY_TOKEN }}
          DOCKERHUB_DEPLOY_USERNAME: ${{ secrets.DOCKERHUB_DEPLOY_USERNAME }}
        run: |
          make build
          make docker_login
          make docker_push


      - name: Log Docker Image in Merkely
        env:
          MERKELY_FINGERPRINT: docker://${TAGGED_IMAGE}
          MERKELY_ARTIFACT_GIT_URL: ${GITHUB_SERVER_URL}/${GITHUB_REPOSITORY}/commit/${GITHUB_SHA}
          MERKELY_ARTIFACT_GIT_COMMIT: ${GITHUB_SHA}
          MERKELY_CI_BUILD_URL: ${GITHUB_SERVER_URL}/${GITHUB_REPOSITORY}/actions/runs/${GITHUB_RUN_ID}
          MERKELY_CI_BUILD_NUMBER: ${GITHUB_RUN_ID}
          MERKELY_API_TOKEN: ${{ secrets.MERKELY_API_TOKEN }}
        run: |
          make merkely_log_artifact


      - name: Run test suite and log summary in Merkely
        # Run the test suite, write results to build/test/pytest_unit.xml
        # Log these results in Merkely
        env:
          TEST_RESULTS_FILE: build/test/pytest_unit.xml
          MERKELY_FINGERPRINT: docker://${TAGGED_IMAGE}
          MERKELY_EVIDENCE_TYPE: unit_test
          MERKELY_CI_BUILD_URL: ${GITHUB_SERVER_URL}/${GITHUB_REPOSITORY}/actions/runs/${GITHUB_RUN_ID}
          MERKELY_API_TOKEN: ${{ secrets.MERKELY_API_TOKEN }}
        run: |
          make test
          make merkely_log_test


      - name: Run security analysis and log summary in Merkely
        # Run the bandit security, write results to build/security/security.xml
        # Log these results in Merkely
        env:
          TEST_RESULTS_FILE: build/security/security.xml
          MERKELY_FINGERPRINT: docker://${TAGGED_IMAGE}
          MERKELY_EVIDENCE_TYPE: security
          MERKELY_CI_BUILD_URL: ${GITHUB_SERVER_URL}/${GITHUB_REPOSITORY}/actions/runs/${GITHUB_RUN_ID}
          MERKELY_API_TOKEN: ${{ secrets.MERKELY_API_TOKEN }}
        run: |
          make security
          make merkely_log_test


      - name: Run coverage and log summary in Merkely
        # Run coverage, write summary to build/coverage/coverage_summary.sh
        # Put coverage summary in Merkely
        env:
          MERKELY_FINGERPRINT: docker://${TAGGED_IMAGE}
          MERKELY_EVIDENCE_TYPE: coverage
          MERKELY_IS_COMPLIANT: 'TRUE'
          MERKELY_CI_BUILD_URL: ${GITHUB_SERVER_URL}/${GITHUB_REPOSITORY}/actions/runs/${GITHUB_RUN_ID}
          MERKELY_API_TOKEN: ${{ secrets.MERKELY_API_TOKEN }}
        run: |
          make coverage
          source build/coverage/coverage_summary.sh
          export MERKELY_DESCRIPTION="${COVERAGE_SUMMARY}"
          make merkely_log_evidence


      - name: Deploy to STAGE and log deployment in Merkely
        env:
          MERKELY_FINGERPRINT: docker://${TAGGED_IMAGE}
          MERKELY_ENVIRONMENT: staging
          MERKELY_DESCRIPTION: "Deployed to ${MERKELY_ENVIRONMENT} in pipeline"
          MERKELY_CI_BUILD_URL: ${GITHUB_SERVER_URL}/${GITHUB_REPOSITORY}/actions/runs/${GITHUB_RUN_ID}
          MERKELY_API_TOKEN: ${{ secrets.MERKELY_API_TOKEN }}
        run: |
          echo YOUR DEPLOYMENT COMMAND HERE
          make merkely_log_deployment
